/**
 * CSS for Mizzou Framework Style Guide
 *
 * @authors Josh Nichols (nicholsjc@missouri.edu), Josh Hughes (hughesjd@missouri.edu), University of Missouri
 * @copyright 2016 Curators of the University of Missouri
 */


/* @group signatures */ 

.unit-sig,
.mu-sig
{
    padding: 1.5em;
    margin: ($base-margin + 0em) 0;
    
    @media #{$query-small}
    {
        padding: 1em; 
    }
}
    
.unit-sig--light
{
    background: $gray-100;

    @include mu-unit-sig(
        $size: 'medium',
        $name-width: 284px,
        $name-height: 40px,
        $wordmark-indent: 2px
    );
    
    @media #{$query-small}
    {
        @include mu-unit-sig(
            $size: 'small',
            $name-width: 194px,
            $name-height: 27px,
            $wordmark-indent: 1px
        );
    }
            
    @media #{$query-large}
    {
        @include mu-unit-sig(
            $size: 'large',
            $name-width: 404px,
            $name-height: 57px,
            $wordmark-indent: 2px
        );
    }
    
    @media print
    {
        @include mu-unit-sig(
            $size: 'large',
            $name-width: 404px,
            $name-height: 57px,
            $wordmark-indent: 2px,
            $print: 'true'
        );
    }
}

.unit-sig--dark
{
    background: $gray-600;

    @include mu-unit-sig(
        $size: 'medium',
        $color: 'white',
        $name-width: 284px,
        $name-height: 40px,
        $wordmark-indent: 2px
    );
    
    @media #{$query-small}
    {
        @include mu-unit-sig(
            $size: 'small',
            $color: 'white',
            $name-width: 194px,
            $name-height: 27px,
            $wordmark-indent: 1px
        );
    }
            
    @media #{$query-large}
    {
        @include mu-unit-sig(
            $size: 'large',
            $color: 'white',
            $name-width: 404px,
            $name-height: 57px,
            $wordmark-indent: 2px
        );
    }
    
    @media print
    {
        @include mu-unit-sig(
            $size: 'large',
            $name-width: 404px,
            $name-height: 57px,
            $wordmark-indent: 2px,
            $print: 'true'
        );
    }
}

.unit-sig--center
{
    background: $gold-400;

    @include mu-unit-sig(
        $size: 'medium',
        $center: 'true',
        $name-width: 284px,
        $name-height: 40px,
        $wordmark-indent: 2px
    );
    
    @media #{$query-small}
    {
        @include mu-unit-sig(
            $size: 'small',
            $center: 'true',
            $name-width: 194px,
            $name-height: 27px,
            $wordmark-indent: 1px
        );
    }
            
    @media #{$query-large}
    {
        @include mu-unit-sig(
            $size: 'large',
            $center: 'true',
            $name-width: 404px,
            $name-height: 57px,
            $wordmark-indent: 2px
        );
    }
    
    @media print
    {
        @include mu-unit-sig(
            $size: 'large',
            $center: 'true',
            $name-width: 404px,
            $name-height: 57px,
            $wordmark-indent: 2px,
            $print: 'true'
        );
    }
}

.unit-sig--health
{
    background: $gray-100;

    @include mu-unit-sig(
        $size: 'medium',
        $name-width: 284px,
        $name-height: 40px,
        $name-margin: 1px,
        $wordmark-indent: 2px,
        $health-wordmark: 'true'
    );
    
    @media #{$query-small}
    {
        @include mu-unit-sig(
            $size: 'small',
            $name-width: 194px,
            $name-height: 27px,
            $wordmark-indent: 1px,
            $health-wordmark: 'true'
        );
    }
            
    @media #{$query-large}
    {
        @include mu-unit-sig(
            $size: 'large',
            $name-width: 404px,
            $name-height: 57px,
            $name-margin: 2px,
            $wordmark-indent: 2px,
            $health-wordmark: 'true'
        );
    }
    
    @media print
    {
        @include mu-unit-sig(
            $size: 'large',
            $name-width: 404px,
            $name-height: 57px,
            $name-margin: 2px,
            $wordmark-indent: 2px,
            $print: 'true',
            $health-wordmark: 'true'
        );
    }
}


.mu-sig--light
{
    background: $gray-100;

    @include mu-sig(
        $size: 'medium'
    );
    
    @media #{$query-small}
    {
        @include mu-sig(
            $size: 'small'
        );
    }
            
    @media #{$query-large}
    {
        @include mu-sig(
            $size: 'large'
        );
    }
    
    @media print
    {
        @include mu-sig(
            $size: 'large',
            $print: 'true'
        );
    }
}
.mu-sig--dark
{
    background: $gray-600;

    @include mu-sig(
        $size: 'medium',
        $color: 'white'
    );
    
    @media #{$query-small}
    {
        @include mu-sig(
            $size: 'small',
            $color: 'white'
        );
    }
            
    @media #{$query-large}
    {
        @include mu-sig(
            $size: 'large',
            $color: 'white'
        );
    }
    
    @media print
    {
        @include mu-sig(
            $size: 'large',
            $print: 'true'
        );
    }
}
.mu-sig--center
{
    background: $gold-400;

    @include mu-sig(
        $size: 'medium',
        $center: 'true'
    );
    
    @media #{$query-small}
    {
        @include mu-sig(
            $size: 'small',
            $center: 'true'
        );
    }
            
    @media #{$query-large}
    {
        @include mu-sig(
            $size: 'large',
            $center: 'true'
        );
    }
    
    @media print
    {
        @include mu-sig(
            $size: 'large',
            $print: 'true'
        );
    }
}

    
/* @end */



/* @group Colors */
    
.color-swatch
{
    @include clear-fix;
    margin: 0;
        
    p 
    {
        margin: 0;
    }
}

.color-swatch__description
{
    font-weight: normal;
    
    &:before
    {
        width: 96px;
        height: 96px;
        display: block;
        float: left;
        content: ' ';
        margin-right: 16px;
        position: relative;
        top: 0;
        border-style: solid;
        border-width: 1px;
        border-bottom-width: 0;
        
        @media #{$query-small}
        {
            width: 220px;
        }
        
    }
}

.color-swatch__name
{
    font-weight: $font-bold;
    padding-top: 8px;
    padding-bottom: .5em;
}

.color-swatch__hex-code
{
    font-family: $font-monospace;
    font-size: 12px;
    color: $gray-400;
    white-space: nowrap;
}

.color-swatch__var
{
    font-family: $font-monospace;
    font-size: 11px;
    color: $gray-400;
    white-space: nowrap;
}

.color-swatch--black .color-swatch__description:before
{
    background: $black;
    border-color: $black;
}

.color-swatch--gold-100 .color-swatch__description:before
{
    background: $gold-100;
    border-color: darken($gold-100, 10%);
}

.color-swatch--gold-200 .color-swatch__description:before
{
    background: $gold-200;
    border-color: darken($gold-200, 10%);
}

.color-swatch--gold-300 .color-swatch__description:before
{
    background: $gold-300;
    border-color: darken($gold-300, 10%);
}

.color-swatch--gold-400 .color-swatch__description:before
{
    background: $gold-400;
    border-color: darken($gold-400, 10%);
}

.color-swatch--gold-500 .color-swatch__description:before
{
    background: $gold-500;
    border-color: darken($gold-500, 10%);
}

.color-swatch--gold-600 .color-swatch__description:before
{
    background: $gold-600;
    border-color: darken($gold-600, 10%);
    border-bottom-width: 1px;
}

.color-swatch--gray-100 .color-swatch__description:before
{
    background: $gray-100;
    border-color: darken($gray-100, 10%);
}

.color-swatch--gray-200 .color-swatch__description:before
{
    background: $gray-200;
    border-color: darken($gray-200, 10%);
}

.color-swatch--gray-300 .color-swatch__description:before
{
    background: $gray-300;
    border-color: darken($gray-300, 10%);
}

.color-swatch--gray-400 .color-swatch__description:before
{
    background: $gray-400;
    border-color: darken($gray-400, 10%);
}

.color-swatch--gray-500 .color-swatch__description:before
{
    background: $gray-500;
    border-color: darken($gray-500, 10%);
}

.color-swatch--gray-600 .color-swatch__description:before
{
    background: $gray-600;
    border-color: darken($gray-600, 10%);
    border-bottom-width: 1px;
}

.color-swatch--tan-100 .color-swatch__description:before
{
    background: $tan-100;
    border-color: darken($tan-100, 10%);
}

.color-swatch--tan-200 .color-swatch__description:before
{
    background: $tan-200;
    border-color: darken($tan-200, 10%);
}

.color-swatch--tan-300 .color-swatch__description:before
{
    background: $tan-300;
    border-color: darken($tan-300, 10%);
}

.color-swatch--tan-400 .color-swatch__description:before
{
    background: $tan-400;
    border-color: darken($tan-400, 10%);
}

.color-swatch--tan-500 .color-swatch__description:before
{
    background: $tan-500;
    border-color: darken($tan-500, 10%);
}

.color-swatch--tan-600 .color-swatch__description:before
{
    background: $tan-600;
    border-color: darken($tan-600, 10%);
    border-bottom-width: 1px;
}

.color-swatch--warm-gray-100 .color-swatch__description:before
{
    background: $warm-gray-100;
    border-color: darken($warm-gray-100, 10%);
}

.color-swatch--warm-gray-200 .color-swatch__description:before
{
    background: $warm-gray-200;
    border-color: darken($warm-gray-200, 10%);
}

.color-swatch--warm-gray-300 .color-swatch__description:before
{
    background: $warm-gray-300;
    border-color: darken($warm-gray-300, 10%);
}

.color-swatch--warm-gray-400 .color-swatch__description:before
{
    background: $warm-gray-400;
    border-color: darken($warm-gray-400, 10%);
}

.color-swatch--warm-gray-500 .color-swatch__description:before
{
    background: $warm-gray-500;
    border-color: darken($warm-gray-500, 10%);
}

.color-swatch--warm-gray-600 .color-swatch__description:before
{
    background: $warm-gray-600;
    border-color: darken($warm-gray-600, 10%);
    border-bottom-width: 1px;
}

.color-swatch--red-100 .color-swatch__description:before
{
    background: $red-100;
    border-color: darken($red-100, 10%);
}

.color-swatch--red-200 .color-swatch__description:before
{
    background: $red-200;
    border-color: darken($red-200, 10%);
}

.color-swatch--red-300 .color-swatch__description:before
{
    background: $red-300;
    border-color: darken($red-300, 10%);
}

.color-swatch--red-400 .color-swatch__description:before
{
    background: $red-400;
    border-color: darken($red-400, 10%);
}

.color-swatch--red-500 .color-swatch__description:before
{
    background: $red-500;
    border-color: darken($red-500, 10%);
}

.color-swatch--red-600 .color-swatch__description:before
{
    background: $red-600;
    border-color: darken($red-600, 10%);
    border-bottom-width: 1px;
}

.color-swatch--orange-100 .color-swatch__description:before
{
    background: $orange-100;
    border-color: darken($orange-100, 10%);
}

.color-swatch--orange-200 .color-swatch__description:before
{
    background: $orange-200;
    border-color: darken($orange-200, 10%);
}

.color-swatch--orange-300 .color-swatch__description:before
{
    background: $orange-300;
    border-color: darken($orange-300, 10%);
}

.color-swatch--orange-400 .color-swatch__description:before
{
    background: $orange-400;
    border-color: darken($orange-400, 10%);
}

.color-swatch--orange-500 .color-swatch__description:before
{
    background: $orange-500;
    border-color: darken($orange-500, 10%);
}

.color-swatch--orange-600 .color-swatch__description:before
{
    background: $orange-600;
    border-color: darken($orange-600, 10%);
    border-bottom-width: 1px;
}

.color-swatch--blue-100 .color-swatch__description:before
{
    background: $blue-100;
    border-color: darken($blue-100, 10%);
}

.color-swatch--blue-200 .color-swatch__description:before
{
    background: $blue-200;
    border-color: darken($blue-200, 10%);
}

.color-swatch--blue-300 .color-swatch__description:before
{
    background: $blue-300;
    border-color: darken($blue-300, 10%);
}

.color-swatch--blue-400 .color-swatch__description:before
{
    background: $blue-400;
    border-color: darken($blue-400, 10%);
}

.color-swatch--blue-500 .color-swatch__description:before
{
    background: $blue-500;
    border-color: darken($blue-500, 10%);
}

.color-swatch--blue-600 .color-swatch__description:before
{
    background: $blue-600;
    border-color: darken($blue-600, 10%);
    border-bottom-width: 1px;
}

.color-swatch--green-100 .color-swatch__description:before
{
    background: $green-100;
    border-color: darken($green-100, 10%);
}

.color-swatch--green-200 .color-swatch__description:before
{
    background: $green-200;
    border-color: darken($green-200, 10%);
}

.color-swatch--green-300 .color-swatch__description:before
{
    background: $green-300;
    border-color: darken($green-300, 10%);
}

.color-swatch--green-400 .color-swatch__description:before
{
    background: $green-400;
    border-color: darken($green-400, 10%);
}

.color-swatch--green-500 .color-swatch__description:before
{
    background: $green-500;
    border-color: darken($green-500, 10%);
}

.color-swatch--green-600 .color-swatch__description:before
{
    background: $green-600;
    border-color: darken($green-600, 10%);
    border-bottom-width: 1px;
}

/* @end */

/* @group Accessible Color Combinations */

.accessible-color-combinations
{
    list-style: none;
    padding: 0;
}

.accessible-color
{
    padding: 8px 16px;
    border: 1px solid #000;
}

.accessible-color--gold-100
{
    color: $gold-100;
}

.accessible-color--gold-200
{
    color: $gold-200;
}

.accessible-color--gold-300
{
    color: $gold-300;
}

.accessible-color--gold-400
{
    color: $gold-400;
}

.accessible-color--gold-500
{
    color: $gold-500;
}

.accessible-color--gold-600
{
    color: $gold-600;
}

.accessible-color--white
{
    color: #fff;
}

.accessible-color--gray-100
{
    color: $gray-100;
}

.accessible-color--gray-200
{
    color: $gray-200;
}

.accessible-color--gray-300
{
    color: $gray-300;
}

.accessible-color--gray-400
{
    color: $gray-400;
}

.accessible-color--gray-500
{
    color: $gray-500;
}

.accessible-color--gray-600
{
    color: $gray-600;
}

.accessible-color--black
{
    color: #000;
}

.accessible-color--tan-100
{
    color: $tan-100;
}

.accessible-color--tan-200
{
    color: $tan-200;
}

.accessible-color--tan-300
{
    color: $tan-300;
}

.accessible-color--tan-400
{
    color: $tan-400;
}

.accessible-color--tan-500
{
    color: $tan-500;
}

.accessible-color--tan-600
{
    color: $tan-600;
}

.accessible-color--warm-gray-100
{
    color: $warm-gray-100;
}

.accessible-color--warm-gray-200
{
    color: $warm-gray-200;
}

.accessible-color--warm-gray-300
{
    color: $warm-gray-300;
}

.accessible-color--warm-gray-400
{
    color: $warm-gray-400;
}

.accessible-color--warm-gray-500
{
    color: $warm-gray-500;
}

.accessible-color--warm-gray-600
{
    color: $warm-gray-600;
}

.accessible-color--red-100
{
    color: $red-100;
}

.accessible-color--red-200
{
    color: $red-200;
}

.accessible-color--red-300
{
    color: $red-300;
}

.accessible-color--red-400
{
    color: $red-400;
}

.accessible-color--red-500
{
    color: $red-500;
}

.accessible-color--red-600
{
    color: $red-600;
}

.accessible-color--orange-100
{
    color: $orange-100;
}

.accessible-color--orange-200
{
    color: $orange-200;
}

.accessible-color--orange-300
{
    color: $orange-300;
}

.accessible-color--orange-400
{
    color: $orange-400;
}

.accessible-color--orange-500
{
    color: $orange-500;
}

.accessible-color--orange-600
{
    color: $orange-600;
}

.accessible-color--blue-100
{
    color: $blue-100;
}

.accessible-color--blue-200
{
    color: $blue-200;
}

.accessible-color--blue-300
{
    color: $blue-300;
}

.accessible-color--blue-400
{
    color: $blue-400;
}

.accessible-color--blue-500
{
    color: $blue-500;
}

.accessible-color--blue-600
{
    color: $blue-600;
}

.accessible-color--green-100
{
    color: $green-100;
}

.accessible-color--green-200
{
    color: $green-200;
}

.accessible-color--green-300
{
    color: $green-300;
}

.accessible-color--green-400
{
    color: $green-400;
}

.accessible-color--green-500
{
    color: $green-500;
}

.accessible-color--green-600
{
    color: $green-600;
}

.accessible-color-background--gold-100
{
    background: $gold-100;
    border-color: darken($gold-100, 10%);
}

.accessible-color-background--gold-200
{
    background: $gold-200;
    border-color: darken($gold-200, 10%);
}

.accessible-color-background--gold-300
{
    background: $gold-300;
    border-color: darken($gold-300, 10%);
}

.accessible-color-background--gold-400
{
    background: $gold-400;
    border-color: darken($gold-400, 10%);
}

.accessible-color-background--gold-500
{
    background: $gold-500;
    border-color: darken($gold-500, 10%);
}

.accessible-color-background--gold-600
{
    background: $gold-600;
    border-color: darken($gold-600, 10%);
}

.accessible-color-background--white
{
    background: #fff;
    border-color: darken(#fff, 10%);
}

.accessible-color-background--gray-100
{
    background: $gray-100;
    border-color: darken($gray-100, 10%);
}

.accessible-color-background--gray-200
{
    background: $gray-200;
    border-color: darken($gray-200, 10%);
}

.accessible-color-background--gray-300
{
    background: $gray-300;
    border-color: darken($gray-300, 10%);
}

.accessible-color-background--gray-400
{
    background: $gray-400;
    border-color: darken($gray-400, 10%);
}

.accessible-color-background--gray-500
{
    background: $gray-500;
    border-color: darken($gray-500, 10%);
}

.accessible-color-background--gray-600
{
    background: $gray-600;
    border-color: darken($gray-600, 10%);
}

.accessible-color-background--black
{
    background: #000;
    border-color: #000;
}

.accessible-color-background--tan-100
{
    background: $tan-100;
    border-color: darken($tan-100, 10%);
}

.accessible-color-background--tan-200
{
    background: $tan-200;
    border-color: darken($tan-200, 10%);
}

.accessible-color-background--tan-300
{
    background: $tan-300;
    border-color: darken($tan-300, 10%);
}

.accessible-color-background--tan-400
{
    background: $tan-400;
    border-color: darken($tan-400, 10%);
}

.accessible-color-background--tan-500
{
    background: $tan-500;
    border-color: darken($tan-500, 10%);
}

.accessible-color-background--tan-600
{
    background: $tan-600;
    border-color: darken($tan-600, 10%);
}

.accessible-color-background--warm-gray-100
{
    background: $warm-gray-100;
    border-color: darken($warm-gray-100, 10%);
}

.accessible-color-background--warm-gray-200
{
    background: $warm-gray-200;
    border-color: darken($warm-gray-200, 10%);
}

.accessible-color-background--warm-gray-300
{
    background: $warm-gray-300;
    border-color: darken($warm-gray-300, 10%);
}

.accessible-color-background--warm-gray-400
{
    background: $warm-gray-400;
    border-color: darken($warm-gray-400, 10%);
}

.accessible-color-background--warm-gray-500
{
    background: $warm-gray-500;
    border-color: darken($warm-gray-500, 10%);
}

.accessible-color-background--warm-gray-600
{
    background: $warm-gray-600;
    border-color: darken($warm-gray-600, 10%);
}

.accessible-color-background--red-100
{
    background: $red-100;
    border-color: darken($red-100, 10%);
}

.accessible-color-background--red-200
{
    background: $red-200;
    border-color: darken($red-200, 10%);
}

.accessible-color-background--red-300
{
    background: $red-300;
    border-color: darken($red-300, 10%);
}

.accessible-color-background--red-400
{
    background: $red-400;
    border-color: darken($red-400, 10%);
}

.accessible-color-background--red-500
{
    background: $red-500;
    border-color: darken($red-500, 10%);
}

.accessible-color-background--red-600
{
    background: $red-600;
    border-color: darken($red-600, 10%);
}

.accessible-color-background--orange-100
{
    background: $orange-100;
    border-color: darken($orange-100, 10%);
}

.accessible-color-background--orange-200
{
    background: $orange-200;
    border-color: darken($orange-200, 10%);
}

.accessible-color-background--orange-300
{
    background: $orange-300;
    border-color: darken($orange-300, 10%);
}

.accessible-color-background--orange-400
{
    background: $orange-400;
    border-color: darken($orange-400, 10%);
}

.accessible-color-background--orange-500
{
    background: $orange-500;
    border-color: darken($orange-500, 10%);
}

.accessible-color-background--orange-600
{
    background: $orange-600;
    border-color: darken($orange-600, 10%);
}

.accessible-color-background--blue-100
{
    background: $blue-100;
    border-color: darken($blue-100, 10%);
}

.accessible-color-background--blue-200
{
    background: $blue-200;
    border-color: darken($blue-200, 10%);
}

.accessible-color-background--blue-300
{
    background: $blue-300;
    border-color: darken($blue-300, 10%);
}

.accessible-color-background--blue-400
{
    background: $blue-400;
    border-color: darken($blue-400, 10%);
}

.accessible-color-background--blue-500
{
    background: $blue-500;
    border-color: darken($blue-500, 10%);
}

.accessible-color-background--blue-600
{
    background: $blue-600;
    border-color: darken($blue-600, 10%);
}

.accessible-color-background--green-100
{
    background: $green-100;
    border-color: darken($green-100, 10%);
}

.accessible-color-background--green-200
{
    background: $green-200;
    border-color: darken($green-200, 10%);
}

.accessible-color-background--green-300
{
    background: $green-300;
    border-color: darken($green-300, 10%);
}

.accessible-color-background--green-400
{
    background: $green-400;
    border-color: darken($green-400, 10%);
}

.accessible-color-background--green-500
{
    background: $green-500;
    border-color: darken($green-500, 10%);
}

.accessible-color-background--green-600
{
    background: $green-600;
    border-color: darken($green-600, 10%);
}

/* @end */


/* @group Typography */
    
.source .font-examples 
{
    overflow: auto;
    font-size: 13px;
    
    h3
    {
        font-family: $font-sans;
        text-transform: uppercase;
        font-size: .9em;
        color: $gray-400;
        padding-bottom: 4px;
        border-bottom: 1px solid $gray-200;
        margin: 0;
    }
    
    p {
        letter-spacing: 1px;
        font-size: 2.5em;
        margin: 0;
    }
    
    .serif      { font-family: $font-serif; } 
    .serif-sc   { font-family: $font-serif-sc; }
    .sans       { font-family: $font-sans; }
    .monospace  { font-family: $font-monospace; }
    
    .thin       { font-weight: $font-thin; }
    .light      { font-weight: $font-light; }
    .normal     { font-weight: $font-normal; }
    .medium     { font-weight: $font-medium; }
    .semibold   { font-weight: $font-semibold; }
    .bold       { font-weight: $font-bold; }
    .xbold      { font-weight: $font-xbold; }
    .black      { font-weight: $font-black; }
}    
    
/* @end */ 


/* @group Grid */
    
.grid--basic 
{
    @include grid-row();
    background-color: $gray-500;
    margin-bottom: 1.5rem;

    p 
    {
        margin: 0;
        background-color: $warm-gray-100;
        padding: 1rem;
    }
    .grid--article 
    {
        @include grid-column(
            $x: 2, 
            $y: 3
        );
    }
    .grid--aside 
    {
        @include grid-column(
            $x: 1, 
            $y: 3
        );
    }
    
    @media #{$query-small}
    {
        .grid--article,
        .grid--aside 
        {
            @include grid-column(
                $x: 1, 
                $y: 1
            );
        }
    }
}

.grid--split 
{
    @include grid-row();
    background-color: $gray-500;
    margin-bottom: 1.5rem;

    p 
    {
        margin: 0;
        background-color: $warm-gray-100;
        padding: 1rem;
    }
    .grid__column 
    {
        @include grid-column(
            $x: 1, 
            $y: 2
        );
    }   
    @media #{$query-small}
    {
        .grid__column 
        {
            @include grid-column(
                $x: 1, 
                $y: 1
            );
        }
    }
}

.grid--header__layer,
.grid--content__layer,
.grid--footer__layer 
{
    p 
    {
        margin: 0;
        padding: 1rem;
        background-color: fade-out(white, .4);
    }
}
.grid--header__wrapper,
.grid--content__wrapper,
.grid--footer__wrapper 
{
    @include grid-row();
}
.grid--header__layer 
{
    background-color: $gray-500;

    .grid--header 
    {
        @include grid-column(
            $x: 1, 
            $y: 1
        );
    }
}
.grid--content__layer {
    
    background-color: $warm-gray-100;

    .grid--article 
    {
        @include grid-column(
            $x: 4, 
            $y: 6
        );
    }
    .grid--aside 
    {
        @include grid-column(
            $x: 2, 
            $y: 6
        );
    }
    
    @media #{$query-small}
    {
        .grid--article,
        .grid--aside 
        {
            @include grid-column(
                $x: 1, 
                $y: 1
            );
        }
    }   
}
.grid--footer__layer 
{
    background-color: $gray-500;
    margin-bottom: 2rem;

    .grid--footer 
    {
        @include grid-column(
            $x: 1, 
            $y: 1
        );
    }
}

/* @end */ 

/* @group Mixins */
    
    
.float-example
{
    @include clear-fix();
    @include box(
        $background: $gold-100, 
        $padding: 1em, 
        $border-size: 1px, 
        $border-color: $gold-400
    );
    margin-bottom: $base-margin + 0em;
}

.float-example__element
{
    width: 160px;
    height: 160px;
    float: left;
    padding: 1em;
    margin: 0 .5em .5em 0;
    background-color: $gold-300;
    border: 1px solid $gold-400;
}

.box-example 
{
    @include box(
        $background: $gold-100, 
        $padding: 1em, 
        $border-size: 1px, 
        $border-color: $gold-400
    );
} 

.center-block-example
{
    @include center-block(
        $max-width: 500px, 
        $min-width: 250px
    );
    @include box();
    text-align: center;
}

.replace-with-image-example
{
    @include replace-with-image(
        $filename: 'mu-logo-large.svg',
        $width: 66px,
        $height: 74px
    );   
    
    @media print 
    {
        @include print-image(
            $filename: 'mu-logo-large.svg',
            $width: 66px,
            $height: 74px
        );
    }   
}

.child-example 
{
    background-color: $gold-100;
    padding: 1em;
    margin-bottom: $base-margin + 0em;
    @include first-child();
    @include last-child();
    
    .child-example__element
    {
        background-color: $gold-300;
        padding: 1em;
        margin: 1em 0;
    }  
}

/* @end */ 


/* @group Buttons */
    

.button-examples {
    margin-bottom: $base-margin + 0em;
    padding: $base-margin + 0em;
    @include last-child();
}
   
.buttons--light {
    background-color: $gray-100;
}

.buttons--dark {
    background-color: $gray-600;
        
    .button--secondary {
        background-color: $gray-600;
        color: $gray-100;
    
        &:hover,
        &:focus,
        &:active {
            background-color: fade-out($gold-200, .8);
            color: $gray-100;
        }
    }
}

.buttons--gold {
    background-color: $gold-400;
    
    .button {
        background-color: $gray-600;
        color: $gray-100;
        border-color: $gray-600;
    
        &:hover,
        &:focus,
        &:active {
            background-color: fade-out($gray-600, .3);
            color: $gray-100;
            border-color: $gray-600;
        }
    }
    .button--secondary { 
        background-color: transparent;
        color: $gray-600;
        border-color: $gray-600;
    
        &:hover,
        &:focus,
        &:active {
            background-color: fade-out($gold-200, .6);
            color: $gray-600;
            border-color: $gray-600;
        }
    }
}


    
/* @end */    
    
    
