/**
 * CSS for Mizzou Framework Style Guide
 *
 * @authors Josh Nichols (nicholsjc@missouri.edu), Josh Hughes (hughesjd@missouri.edu), University of Missouri
 * @copyright 2016 Curators of the University of Missouri
 */

/* @group Variable Overrides */

$base-margin:                   1.5;

$query-small:                 'screen and (max-width: 700px)';
$query-medium:                'screen and (max-width: 950px)';
$query-large:                 'screen and (min-width: 951px)';

/* @end */ 

/* @group Imports */
  
@import "../../bower_components/mizzou-framework/src/scss/_variables";
@import "../../bower_components/mizzou-framework/src/scss/_fonts";
@import "../../bower_components/mizzou-framework/src/scss/_base-mixins"; 
@import "../../bower_components/mizzou-framework/src/scss/_base";
@import "../../bower_components/mizzou-framework/src/scss/_base-helpers";  
@import "../../bower_components/mizzou-framework/src/scss/_forms"; 
@import "../../bower_components/mizzou-framework/src/scss/_buttons"; 
@import "../../bower_components/mizzou-framework/src/scss/_mizzou-signature"; 
@import "../../bower_components/mizzou-framework/src/scss/_grid";
@import "../../bower_components/mizzou-framework/src/scss/_skip-to-links";
@import "../../bower_components/mizzou-framework/src/scss/_search-forms";
@import "../../bower_components/mizzou-framework/src/scss/_navigation";

@media print {
    @import "../../bower_components/mizzou-framework/src/scss/_print";
}

/*
// For modifying framework locally. Merge changes to proper repo when done.

@import "mizzou-framework/_variables";
@import "mizzou-framework/_fonts";
@import "mizzou-framework/_base-mixins"; 
@import "mizzou-framework/_base";
@import "mizzou-framework/_base-helpers";  
@import "mizzou-framework/_forms"; 
@import "mizzou-framework/_buttons"; 
@import "mizzou-framework/_mizzou-signature"; 
@import "mizzou-framework/_grid";
@import "mizzou-framework/_skip-to-links";
//@import "mizzou-framework/_search-forms";
@import "mizzou-framework/_navigation";

@media print {
    @import "mizzou-framework/_print";
}
*/

@import "_examples";

/* @end */ 

/* @group Font Embeds */

@include font-proxima-nova(
    $thin-200:          'true',
    $light-300:         'true',
    $regular-400:       'true',
    $medium-500:        'true',
    $semibold-600:      'true',
    $bold-700:          'true',
    $extrabold-800:     'true',
    $black-900:         'true'
);
@include font-janson(
    $light-300:         'true',
    $roman-400:         'true',
    $medium-500:        'true',
    $bold-700:          'true',
    $smallcaps-400:     'true' 
);
/* @end */ 

html,
body {
    height: 100%;
}
body {
    background-color: #222;
}

.skip-to-content {
    @include skip-to-content();
}
.highlight {
    background-color: $gold-100;
}

.mu-sig__layer {
    background-color: #222;
    padding: 1em 0;
}
.mu-sig-styleguide {
    @include mu-sig(
        $size:             'small',  
        $color:            'white'
    );    
    @include center-block();
    padding: 0 1em;
    
    @media #{$query-small} {
        @include mu-sig(
            $size:             'extra-small',  
            $color:            'white'
        ); 
    }
    
    @media print {
        @include mu-sig(
            $size:             'small',  
            $color:            'black',
            $print:            'true'
        );
    }
}


header {
    background-color: $gold-400;
    padding: 1.5em 0; 
}
.header__title {
    @include center-block();
    padding: 0 1em;
    
    h1 {
        font-size: 1.5em;
        margin: 0 0 .5em 0;
        
        a {
            color: $grey-600;
        }    
        a:hover,
        a:focus,
        a:hover span,
        a:focus span {
            color: $red-400;
        }
        span {
            display: block;
            font-weight: $font-thin;
            font-size: 5rem;
            line-height: .9;
            margin-bottom: .25rem;
            margin-left: -.05em;
            color: $black;
        }
    }
    
    @media #{$query-small} 
    {
        h1 
        {
            font-size: 1.1em;
        }
        h1 span 
        {
            font-size: 3rem;
            font-weight: $font-normal;
        }
    }
}


main {
    background-color: #fff;        
}    
.main__container {
    @include center-block();
    @include clear-fix();
    
    nav {
        margin-bottom: 2em;
    }
    section {
        padding: 0 1rem;
    }
    
    @media #{$query-large} {
    
        section {
            @include grid-column(
                4, 
                5, 
                $padding-right: 2.5rem, 
                $padding-left: 1rem
            );
            padding-top: 2em;
        }
    }
}       
    
@media #{$query-medium} { 
    
    .nav--site {
        
        &.nav--hide 
        {
            .nav__menu-button__header:before,
            .nav__menu-button__header:after,
            .nav__menu-button:after
            {
                transform: none;
            } 
            
            .nav__list
            {
                display: none;
            }
        }
        
        .nav__list
        {
            height: auto;
        }
        
        .nav__menu-button
        {
            position: relative;
            cursor: pointer;
            min-width: 56px;
            text-transform: uppercase;
            padding: 16px 16px 16px 56px;
            min-height: 54px;
            text-decoration: none;
            display: block;
            font-weight: $font-bold;
            border-bottom: 1px solid $grey-200;
            border-top: 1px solid $grey-200;
            background-color: $grey-100;
            
            &:hover,
            &:focus
            {
                background-color: lighten($grey-100, 3%);
                            
                .nav__menu-button__header
                {
                    color: $red-400;
                }
                
                .nav__menu-button__header:before,
                .nav__menu-button__header:after,
                &:after
                {
                    background: $red-400;
                }
            }
        }
        
        .nav__menu-button__header
        {
            font-size: 18px;
            line-height: 1.2;
            color: $grey-600;
            margin: 0;
            display: block;
        }
        
        // Hamburger button bars
        .nav__menu-button__header:before,
        .nav__menu-button__header:after,
        .nav__menu-button:after
        {
            content: ' ';
            display: block;
            width: 24px;
            height: 4px;
            border-radius: 2px;
            background: $grey-600;
            position: absolute;
            left: 16px;
        }
        
        // Top and bottom bar
        .nav__menu-button__header:before,
        .nav__menu-button:after
        {
            transition: 0.1s transform linear;
        }
        
        // Top bar
        .nav__menu-button__header:before
        {
            top: 16px;
            transform: translateY(8px) rotate(45deg);
        }
        
        // Middle bar
        .nav__menu-button__header:after
        {
            top: 24px;
            transform: scale(0);
        }
        
        // Bottom bar
        .nav__menu-button:after
        {
            top: 32px;      
            transform: translateY(-8px) rotate(-45deg);
        }
    }
    .nav--site {
        
        background-color: #fff;
        
        .nav__container > .nav__list {
            padding: 1em 1em;
            margin: 0;
            border-bottom: 1px solid $grey-200;
            background-color: lighten($grey-100, 3%);
        }
        
         .nav__list {
            list-style: none;
            padding-left: 0;
            font-size: 1.2em;
            
            ul {
                padding-left: 1.5em;
                font-size: .9em;
                margin-bottom: 1em;
            }
            
            a {
                color: $grey-500;
                text-decoration: none;
                
                &:hover,
                &:focus {
                    color: $red-400;
                }
            }
        }
        .nav__item {
            line-height: 1;
            display: block;
            
            a,
            strong {
                display: block;
                padding: .5em 0;
            }
        }
        .nav__current-page {
            color: $red-400;
            position: relative;
        }  
    }
    #mobile-nav {
        .nav__container > .nav__list {
            border-top: 1px solid $grey-200;
        }
    }
}    
@media #{$query-large} {
    
    nav {
        @include grid-column(
            1, 
            5, 
            $float-direction: right, 
            $padding-right: 1rem
        );
    }
    
    .nav__container 
    {
        padding-top: 2em;
    
        &.affix 
        {
            top: 0;
            position: fixed;
        }
        &.affix-bottom {
            position: relative
        }
    }
    
    .nav--site {
        
         .nav__list {
            list-style: none;
            padding-left: 0;
            
            ul {
                padding-left: 1.5em;
                font-size: .9em;
                margin-bottom: 1.5em;
                margin-top: 1em;
                
                .nav__item {
                    margin-bottom: .5em;
                }
            }
            
            a {
                color: $grey-500;
                text-decoration: none;
                
                &:hover,
                &:focus {
                    color: $red-400;
                }
            }
        }
        .nav__item {
            line-height: 1;
            margin-bottom: 1em;
            display: block;
            
            a {
                display: block;
            }
        }
        .nav__current-page {
            color: $red-400;
            position: relative;
            
            &:before { 
                content: "";
                width: .5em;
                height: .5em;
                background-color: $red-400;
                position: absolute;
                border-radius: 1000px;
                left: -1em;
                top: .35em;
            }
        }  
    }
    
    #mobile-nav,
    .nav__menu-button {
        display: none;
    }
}

@media print 
{
    .nav--site { display: none; }
}

footer {
    background-color: #222;
    padding: 2em 0;
    color: $grey-200;
    
    a {
        color: $grey-200;
        
        &:hover,
        &:focus {
            color: $gold-400;
        }
    }
    .legal-text {
        font-size: .8em;
        
        p {
            margin: .5rem 0;
        }
    }
 }   
.footer__container {
    @include center-block();
    padding: 0 1rem;
}



/* @group Content */

.section__topic {
    @include clear-fix();
    margin: ($base-margin * 2em) 0;
}

.section__title {
    color: $red-400;
    font-weight: $font-light;
    font-size: 3em;
    margin-bottom: .5em;
    
    @media #{$query-small} {
        font-size: 2.5em;   
    }
}

.section__topic__title
{
    border-bottom: 1px solid $gold-300;
    margin: 0 0 1em 0;
    
    @media #{$query-small} {
        font-size: 1.8em;   
    }
}

.section__topic h3
{
    margin: ($base-margin + 0em) 0;
    font-size: 1.25em;
    font-weight: $font-bold;
    color: $warm-grey-600;
    
}

.section__topic h4 
{
    margin: ($base-margin + 0em) 0; 
    text-transform: uppercase;
    color: $warm-grey-500;
}

.section__row
{

}

.section__column
{
    margin-bottom: $base-margin + 0em;
    
    @media #{$query-small}
    {
        @include grid-column(
            $x: 1,
            $y: 1,
            $padding-left: 0
        );
    }

    @include grid-column(
        $x: 1,
        $y: 2,
        $padding-left: 0
    );
    
    @media #{$query-large}
    {
        @include grid-column(
            $x: 1,
            $y: 3,
            $padding-left: 0
        );
    }
}

.button {
    @include button--inline-block();
}
@media #{$query-small} {
    
    .button {
        @include button--block();
    }
}


/* @end */


/* @group Pagination */

.pagination
{
    @include clear-fix();
    list-style: none;
    border-top: 1px solid $gold-300;
    margin: 2em 0;
    padding: 1em 0 0 0;
    
    a
    {
        text-decoration: none;
        text-transform: uppercase;
        color: $grey-400;
        
        &:hover,
        &:focus,
        &:active
        {
            color: $red-500;
        }
    }
    
    @media print 
    {
        display: none; 
    }

}

.pagination__previous
{
    @include grid-column(
        $x: 1,
        $y: 2,
        $padding-left: 0
    );
}

.pagination__next
{
    @include grid-column(
        $x: 1,
        $y: 2,
        $padding-right: 0,
        $float-direction: right
    );
    text-align: right;
}

/* @end */


/* @group Source Code and Syntax Highlighting */

.source-code,
.source {
    background: lighten($grey-100, 3%);
    padding: $base-margin + 0em;
    margin: 0 0 ($base-margin + 0em) 0;
}

.source-code--hide {
    display: none;
}

.source-code-button {
    clear: both;
    user-select: none;
    min-width: 200px;
}

.source-code-button--hide-source {
    margin-bottom: $base-margin;
}

.source-code-button--show-source:nth-last-child(2)
{
    margin-bottom: 0;
}

// @see Prism JS (http://prismjs.com)
code[class*='language-'],
pre[class*='language-']
{
    color: $grey-500;
	font-family: $font-monospace;
	font-size: 13px;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.5;
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	
	h3
    {
        font-family: $font-sans;
        text-transform: uppercase;
        font-size: .9em;
        color: $grey-400;
        padding-bottom: 4px;
        border-bottom: 1px solid $grey-200;
        margin: 16px 0;
        
        &:first-child
        {
            margin-top: 0;
        }
    }
}

// Code blocks
pre[class*='language-'] 
{
	overflow: scroll;
	margin: 0;
}

// Inline code
:not(pre) > code[class*='language-'] 
{
    background: lighten($grey-100, 3%);
	padding: 2px 4px;
    margin-right: 2px;
    border: 1px solid $grey-200;
    border-radius: 4px;
	white-space: nowrap;
}

.token
{
    &.cdata,
    &.comment,
    &.doctype,
    &.entity,
    &.operator,
    &.prolog,
    &.punctuation,
    &.url
    {
    	color: $grey-400;
    }
    
    &.function,
    &.boolean,
    &.constant,
    &.deleted,
    &.number,
    &.property,
    &.symbol,
    &.tag
    {
    	color: $blue-500;
    }
    
    &.attr-name,
    &.builtin,
    &.char,
    &.inserted,
    &.selector,
    &.string
    {
        color: $green-500;
    }
    
    &.atrule,
    &.attr-value,
    &.keyword
    {
    	color: $red-400;
    }
    
    &.important,
    &.regex,
    &.variable
    {
    	color: $orange-500;
    }
    
    &.bold,
    &.important
    {
    	font-weight: bold;
    }
    
    &.italic
    {
    	font-style: italic;
    }
    
    &.entity
    {
    	cursor: help;
    }
}

.namespace
{
	opacity: .7;
}

/* @end */




