/**
 * CSS for Mizzou Framework Style Guide
 *
 * @authors Josh Nichols (nicholsjc@missouri.edu), Josh Hughes (hughesjd@missouri.edu), University of Missouri
 * @copyright 2016 Curators of the University of Missouri
 */

/* @group Variable Overrides */

$base-margin:                   1.5;

/* @end */ 


/* @group Media Queries */

$query-small:                 'screen and (max-width: 700px)';
$query-medium:                'screen and (max-width: 950px)';
$query-large:                 'screen and (min-width: 951px)';

/* @end */ 

/* @group Imports */
    
@import "../../bower_components/mizzou-framework/src/scss/_variables";
@import "../../bower_components/mizzou-framework/src/scss/_fonts";
@import "../../bower_components/mizzou-framework/src/scss/_base-mixins"; 
@import "../../bower_components/mizzou-framework/src/scss/_base";
@import "../../bower_components/mizzou-framework/src/scss/_base-helpers";  
@import "../../bower_components/mizzou-framework/src/scss/_forms"; 
@import "../../bower_components/mizzou-framework/src/scss/_buttons"; 
@import "../../bower_components/mizzou-framework/src/scss/_mizzou-signature"; 
@import "../../bower_components/mizzou-framework/src/scss/_grid";
@import "../../bower_components/mizzou-framework/src/scss/_skip-to-links";
@import "../../bower_components/mizzou-framework/src/scss/_search-forms";
@import "../../bower_components/mizzou-framework/src/scss/_navigation";

@media print 
{
    @import "../../bower_components/mizzou-framework/src/scss/_print";
}
/* @end */ 

/* @group Font Embeds */

@include font-proxima-nova(
    $thin-200:          'true',
    $light-300:         'true',
    $regular-400:       'true',
    $medium-500:        'true',
    $semibold-600:      'true',
    $bold-700:          'true',
    $extrabold-800:     'true',
    $black-900:         'true'
);
@include font-janson(
    $light-300:         'true',
    $roman-400:         'true',
    $medium-500:        'true',
    $bold-700:          'true',
    $smallcaps-400:     'true' 
);
/* @end */ 

html,
body {
    height: 100%;
}
body {
    background-color: #222;
}

.skip-to-content {
    @include skip-to-content();
}
.highlight {
    background-color: $gold-100;
}

.mu-sig__layer {
    background-color: #222;
    padding: 1em 0;
}
.mu-sig-styleguide {
    @include mu-sig(
        $size:             'small',  
        $color:            'white'
    );    
    @include center-block(
        $base-max-width,
        $base-min-width
    );
    padding: 0 1em;
    
    @media #{$query-small}
    {
        @include mu-sig(
            $size:             'extra-small',  
            $color:            'white'
        ); 
    }
    
    @media print 
    {
        @include mu-sig(
            $size:             'small',  
            $color:            'black',
            $print:            'true'
        );
    }
}


header {
    background-color: $gold;
    padding: 1.5em 0;    
}
.header__title {
    @include center-block(
        $base-max-width,
        $base-min-width
    );
    padding: 0 1em;
    
    h1 {
        font-size: 1.5em;
        margin: 0 0 .5em 0;
        
        a {
            color: $warm-grey-500;
            
            &:hover,
            &:focus {
                color: $red-400;
            }
        }
        
        span {
            display: block;
            font-weight: $font-thin;
            font-size: 5rem;
            line-height: .9;
            margin-bottom: .25rem;
            margin-left: -.05em;
        }
    }
    
    @media #{$query-small} {
        h1 {
            font-size: 1.1em;
        }
        h1 span {
            font-size: 3rem;
            font-weight: $font-normal;
        }
    }
}


main {
    background-color: #fff;        
}    
.main__container {
    @include center-block(
        $base-max-width,
        $base-min-width
    );
    @include clear-fix();
    
    nav {
        margin-bottom: 2em;
    }
    section {
        padding: 0 1rem;
    }
    
    @media #{$query-large} {
    
        section {
            @include grid-column(
                4, 
                5, 
                $padding-right: 2.5rem, 
                $padding-left: 1rem
            );
            padding-top: 2em;
        }
    }
}       
    
@media #{$query-medium} { 
    
    .nav--site {
        
        &.nav--hide 
        {
            .nav__menu-button__header:before,
            .nav__menu-button__header:after,
            .nav__menu-button:after
            {
                transform: none;
            }
            
            .nav__list
            {
                display: none;
            }
        }
        
        .nav__list
        {
            height: auto;
        }
        
        .nav__menu-button
        {
            position: relative;
            cursor: pointer;
            min-width: 56px;
            text-transform: uppercase;
            padding: 16px 16px 16px 56px;
            min-height: 54px;
            text-decoration: none;
            display: block;
            font-weight: $font-bold;
            border-bottom: 1px solid $grey-200;
            border-top: 1px solid $grey-200;
            background-color: $grey-100;
            
            &:hover,
            &:focus
            {
                background-color: $gold-100;
                            
                .nav__menu-button__header
                {
                    color: $red-400;
                }
                
                .nav__menu-button__header:before,
                .nav__menu-button__header:after,
                &:after
                {
                    background: $red-400;
                }
            }
        }
        
        .nav__menu-button__header
        {
            font-size: 18px;
            line-height: 1.2;
            color: $red-400;
            margin: 0;
            display: block;
        }
        
        // Hamburger button bars
        .nav__menu-button__header:before,
        .nav__menu-button__header:after,
        .nav__menu-button:after
        {
            content: ' ';
            display: block;
            width: 24px;
            height: 4px;
            border-radius: 2px;
            background: $red-400;
            position: absolute;
            left: 16px;
        }
        
        // Top and bottom bar
        .nav__menu-button__header:before,
        .nav__menu-button:after
        {
            transition: 0.1s transform linear;
        }
        
        // Top bar
        .nav__menu-button__header:before
        {
            top: 16px;
            transform: translateY(8px) rotate(45deg);
        }
        
        // Middle bar
        .nav__menu-button__header:after
        {
            top: 24px;
            transform: scale(0);
        }
        
        // Bottom bar
        .nav__menu-button:after
        {
            top: 32px;      
            transform: translateY(-8px) rotate(-45deg);
        }
    }
    .nav--site {
        
        background-color: #fff;
        
        .nav__container > .nav__list {
            padding: 1em 1em;
            margin: 0;
            border-bottom: 1px solid $grey-200;
            background-color: $grey-100;
        }
        
         .nav__list {
            list-style: none;
            padding-left: 0;
            font-size: 1.2em;
            
            ul {
                padding-left: 1.5em;
                font-size: .9em;
                margin-bottom: 1em;
                //margin-top: 1em;
                
                .nav__item {
                    //margin-bottom: .5em;
                }
            }
            
            a {
                color: $grey-500;
                text-decoration: none;
                
                &:hover,
                &:focus {
                    color: $red-400;
                }
            }
        }
        .nav__item {
            line-height: 1;
            //margin-bottom: 1em;
            display: block;
            
            a,
            strong {
                display: block;
                padding: .5em 0;
            }
        }
        .nav__current-page {
            color: $red-400;
            position: relative;
        }  
    }
    #mobile-nav {
        .nav__container > .nav__list {
            border-top: 1px solid $grey-200;
        }
    }
}    
@media #{$query-large} {
    
    nav {
        @include grid-column(
            1, 
            5, 
            $float-direction: right, 
            $padding-right: 1rem
        );
    }
    
    .nav__container 
    {
        padding-top: 2em;
    
        &.affix 
        {
            top: 0;
            position: fixed;
        }
        &.affix-bottom {
            position: relative
        }
    }
    
    .nav--site {
        
         .nav__list {
            list-style: none;
            padding-left: 0;
            
            ul {
                padding-left: 1.5em;
                font-size: .9em;
                margin-bottom: 1.5em;
                margin-top: 1em;
                
                .nav__item {
                    margin-bottom: .5em;
                }
            }
            
            a {
                color: $grey-500;
                text-decoration: none;
                
                &:hover,
                &:focus {
                    color: $red-400;
                }
            }
        }
        .nav__item {
            line-height: 1;
            margin-bottom: 1em;
            display: block;
            
            a {
                display: block;
            }
        }
        .nav__current-page {
            color: $red-400;
            position: relative;
            
            &:before { 
                content: "";
                width: .5em;
                height: .5em;
                background-color: $red-400;
                position: absolute;
                border-radius: 1000px;
                left: -1em;
                top: .35em;
            }
        }  
    }
    
    #mobile-nav,
    .nav__menu-button {
        display: none;
    }
}


footer {
    background-color: #222;
    padding: 2em 0;
    color: $grey-200;
    
    a {
        color: $grey-200;
        
        &:hover,
        &:focus {
            color: $gold-400;
        }
    }
    .legal-text {
        font-size: .8em;
        
        p {
            margin: .5rem 0;
        }
    }
 }   
.footer__container {
    @include center-block(
        $base-max-width,
        $base-min-width
    );
    padding: 0 1rem;
}



/* @group Content */

.section__topic
{
    @include clear-fix();
    margin-bottom: $base-margin + 0em;
}

.section__title 
{
    color: $red-400;
    font-weight: $font-light;
    font-size: 3em;
    margin: 0;
    
    @media #{$query-small} {
        font-size: 2.5em;   
    }
}

.section__topic__title
{
    border-bottom: 1px solid $gold-300;
    margin: 1em 0;
    
    @media #{$query-small} {
        font-size: 1.8em;   
    }
}

.section__topic h3
{
    margin: ($base-margin + 0em) 0;
    font-size: 1.25em;
    font-weight: $font-bold;
    color: $warm-grey-600;
    
}

.section__topic h4 
{
    margin: ($base-margin + 0em) 0; 
    text-transform: uppercase;
    color: $warm-grey-500;
}

.section__row
{

}

.section__column
{
    margin-bottom: $base-margin + 0em;
    
    @media #{$query-small}
    {
        @include grid-column(
            $x: 1,
            $y: 1,
            $padding-left: 0
        );
    }

    @include grid-column(
        $x: 1,
        $y: 2,
        $padding-left: 0
    );
    
    @media #{$query-large}
    {
        @include grid-column(
            $x: 1,
            $y: 3,
            $padding-left: 0
        );
    }
}

.button__download {
    @include button(
        $size: 'large',
        $color: 'gold'
    );
}

/* @end */


/* @group Pagination */

.pagination
{
    @include clear-fix();
    list-style: none;
    border-top: 1px solid $gold-300;
    margin: 2em 0;
    padding: 1em 0 0 0;
    
    a
    {
        text-decoration: none;
        text-transform: uppercase;
        color: $grey-400;
        
        &:hover,
        &:focus,
        &:active
        {
            color: $red-500;
        }
    }
}

.pagination__previous
{
    @include grid-column(
        $x: 1,
        $y: 2,
        $padding-left: 0
    );
}

.pagination__next
{
    @include grid-column(
        $x: 1,
        $y: 2,
        $padding-right: 0,
        $float-direction: right
    );
    text-align: right;
}

/* @end */


/* @group Source Code and Syntax Highlighting */

.source-code,
.source
{
    background: lighten($grey-100, 3%);
    padding: $base-margin + 0em;
    margin: ($base-margin + 0em) 0;
}

.source-code--hide
{
    display: none;
}

.source-code-button
{
    @include button(
        $color: 'gold'
    );
    font-weight: $font-normal;
    padding: 5px 16px 3px;
    text-transform: uppercase;
    clear: both;
    user-select: none;
}

.source-code-button--hide-source
{
    margin-bottom: $base-margin;
}

.source-code-button--show-source:nth-last-child(2)
{
    margin-bottom: 0;
}

// @see Prism JS (http://prismjs.com)
code[class*='language-'],
pre[class*='language-']
{
    color: $grey-500;
	font-family: $font-monospace;
	font-size: 13px;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.5;
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	
	h3
    {
        font-family: $font-sans;
        text-transform: uppercase;
        font-size: .9em;
        color: $grey-400;
        padding-bottom: 4px;
        border-bottom: 1px solid $grey-200;
        margin: 16px 0;
        
        &:first-child
        {
            margin-top: 0;
        }
    }
}

// Code blocks
pre[class*='language-'] 
{
	overflow: scroll;
	margin: 0;
}

// Inline code
:not(pre) > code[class*='language-'] 
{
    background: lighten($grey-100, 3%);
	padding: 2px 4px;
    margin-right: 2px;
    border: 1px solid $grey-200;
    border-radius: 4px;
	white-space: nowrap;
}

.token
{
    &.cdata,
    &.comment,
    &.doctype,
    &.entity,
    &.operator,
    &.prolog,
    &.punctuation,
    &.url
    {
    	color: $grey-400;
    }
    
    &.function,
    &.boolean,
    &.constant,
    &.deleted,
    &.number,
    &.property,
    &.symbol,
    &.tag
    {
    	color: $blue-500;
    }
    
    &.attr-name,
    &.builtin,
    &.char,
    &.inserted,
    &.selector,
    &.string
    {
        color: $green-500;
    }
    
    &.atrule,
    &.attr-value,
    &.keyword
    {
    	color: $red-400;
    }
    
    &.important,
    &.regex,
    &.variable
    {
    	color: $orange-500;
    }
    
    &.bold,
    &.important
    {
    	font-weight: bold;
    }
    
    &.italic
    {
    	font-style: italic;
    }
    
    &.entity
    {
    	cursor: help;
    }
}

.namespace
{
	opacity: .7;
}

/* @end */




/* @group signatures */

.unit-sig,
.mu-sig
{
    padding: 1.5em;
    margin: ($base-margin + 0em) 0;
    
    @media #{$query-small}
    {
        padding: 1em;
    }
}
    
.unit-sig--light
{
    background: $grey-100;

    @include mu-unit-sig(
        $size: 'medium',
        $name-width: 284px,
        $name-height: 40px,
        $wordmark-indent: 2px
    );
    
    @media #{$query-small}
    {
        @include mu-unit-sig(
            $size: 'small',
            $name-width: 194px,
            $name-height: 27px,
            $wordmark-indent: 1px
        );
    }
            
    @media #{$query-large}
    {
        @include mu-unit-sig(
            $size: 'large',
            $name-width: 404px,
            $name-height: 57px,
            $wordmark-indent: 2px
        );
    }
    
    @media print
    {
        @include mu-unit-sig(
            $size: 'large',
            $name-width: 404px,
            $name-height: 57px,
            $wordmark-indent: 2px,
            $print: 'true'
        );
    }
}

.unit-sig--dark
{
    background: $grey-600;

    @include mu-unit-sig(
        $size: 'medium',
        $color: 'white',
        $name-width: 284px,
        $name-height: 40px,
        $wordmark-indent: 2px
    );
    
    @media #{$query-small}
    {
        @include mu-unit-sig(
            $size: 'small',
            $color: 'white',
            $name-width: 194px,
            $name-height: 27px,
            $wordmark-indent: 1px
        );
    }
            
    @media #{$query-large}
    {
        @include mu-unit-sig(
            $size: 'large',
            $color: 'white',
            $name-width: 404px,
            $name-height: 57px,
            $wordmark-indent: 2px
        );
    }
    
    @media print
    {
        @include mu-unit-sig(
            $size: 'large',
            $name-width: 404px,
            $name-height: 57px,
            $wordmark-indent: 2px,
            $print: 'true'
        );
    }
}

.unit-sig--center
{
    background: $gold-400;

    @include mu-unit-sig(
        $size: 'medium',
        $center: 'true',
        $name-width: 284px,
        $name-height: 40px,
        $wordmark-indent: 2px
    );
    
    @media #{$query-small}
    {
        @include mu-unit-sig(
            $size: 'small',
            $center: 'true',
            $name-width: 194px,
            $name-height: 27px,
            $wordmark-indent: 1px
        );
    }
            
    @media #{$query-large}
    {
        @include mu-unit-sig(
            $size: 'large',
            $center: 'true',
            $name-width: 404px,
            $name-height: 57px,
            $wordmark-indent: 2px
        );
    }
    
    @media print
    {
        @include mu-unit-sig(
            $size: 'large',
            $center: 'true',
            $name-width: 404px,
            $name-height: 57px,
            $wordmark-indent: 2px,
            $print: 'true'
        );
    }
}

.mu-sig--light
{
    background: $grey-100;

    @include mu-sig(
        $size: 'medium'
    );
    
    @media #{$query-small}
    {
        @include mu-sig(
            $size: 'small'
        );
    }
            
    @media #{$query-large}
    {
        @include mu-sig(
            $size: 'large'
        );
    }
    
    @media print
    {
        @include mu-sig(
            $size: 'large',
            $print: 'true'
        );
    }
}
.mu-sig--dark
{
    background: $grey-600;

    @include mu-sig(
        $size: 'medium',
        $color: 'white'
    );
    
    @media #{$query-small}
    {
        @include mu-sig(
            $size: 'small',
            $color: 'white'
        );
    }
            
    @media #{$query-large}
    {
        @include mu-sig(
            $size: 'large',
            $color: 'white'
        );
    }
    
    @media print
    {
        @include mu-sig(
            $size: 'large',
            $print: 'true'
        );
    }
}
.mu-sig--center
{
    background: $gold-400;

    @include mu-sig(
        $size: 'medium',
        $center: 'true'
    );
    
    @media #{$query-small}
    {
        @include mu-sig(
            $size: 'small',
            $center: 'true'
        );
    }
            
    @media #{$query-large}
    {
        @include mu-sig(
            $size: 'large',
            $center: 'true'
        );
    }
    
    @media print
    {
        @include mu-sig(
            $size: 'large',
            $print: 'true'
        );
    }
}

    
/* @end */



/* @group Colors */
    
.color-swatch
{
    @include clear-fix;
    margin: 0;
        
    p 
    {
        margin: 0;
    }
}

.color-swatch__description
{
    font-weight: normal;
    
    &:before
    {
        width: 96px;
        height: 96px;
        display: block;
        float: left;
        content: ' ';
        margin-right: 16px;
        position: relative;
        top: 0;
        border-style: solid;
        border-width: 1px;
        border-bottom-width: 0;
        
        @media #{$query-small}
        {
            width: 220px;
        }
        
    }
}

.color-swatch__name
{
    font-weight: $font-bold;
    padding-top: 8px;
    padding-bottom: .5em;
}

.color-swatch__hex-code
{
    font-family: $font-monospace;
    font-size: 12px;
    color: $grey-400;
    white-space: nowrap;
}

.color-swatch__var
{
    font-family: $font-monospace;
    font-size: 11px;
    color: $grey-400;
    white-space: nowrap;
}

.color-swatch--black .color-swatch__description:before
{
    background: $black;
    border-color: $black;
}

.color-swatch--gold-100 .color-swatch__description:before
{
    background: $gold-100;
    border-color: darken($gold-100, 10%);
}

.color-swatch--gold-200 .color-swatch__description:before
{
    background: $gold-200;
    border-color: darken($gold-200, 10%);
}

.color-swatch--gold-300 .color-swatch__description:before
{
    background: $gold-300;
    border-color: darken($gold-300, 10%);
}

.color-swatch--gold-400 .color-swatch__description:before
{
    background: $gold-400;
    border-color: darken($gold-400, 10%);
}

.color-swatch--gold-500 .color-swatch__description:before
{
    background: $gold-500;
    border-color: darken($gold-500, 10%);
}

.color-swatch--gold-600 .color-swatch__description:before
{
    background: $gold-600;
    border-color: darken($gold-600, 10%);
    border-bottom-width: 1px;
}

.color-swatch--grey-100 .color-swatch__description:before
{
    background: $grey-100;
    border-color: darken($grey-100, 10%);
}

.color-swatch--grey-200 .color-swatch__description:before
{
    background: $grey-200;
    border-color: darken($grey-200, 10%);
}

.color-swatch--grey-300 .color-swatch__description:before
{
    background: $grey-300;
    border-color: darken($grey-300, 10%);
}

.color-swatch--grey-400 .color-swatch__description:before
{
    background: $grey-400;
    border-color: darken($grey-400, 10%);
}

.color-swatch--grey-500 .color-swatch__description:before
{
    background: $grey-500;
    border-color: darken($grey-500, 10%);
}

.color-swatch--grey-600 .color-swatch__description:before
{
    background: $grey-600;
    border-color: darken($grey-600, 10%);
    border-bottom-width: 1px;
}

.color-swatch--tan-100 .color-swatch__description:before
{
    background: $tan-100;
    border-color: darken($tan-100, 10%);
}

.color-swatch--tan-200 .color-swatch__description:before
{
    background: $tan-200;
    border-color: darken($tan-200, 10%);
}

.color-swatch--tan-300 .color-swatch__description:before
{
    background: $tan-300;
    border-color: darken($tan-300, 10%);
}

.color-swatch--tan-400 .color-swatch__description:before
{
    background: $tan-400;
    border-color: darken($tan-400, 10%);
}

.color-swatch--tan-500 .color-swatch__description:before
{
    background: $tan-500;
    border-color: darken($tan-500, 10%);
}

.color-swatch--tan-600 .color-swatch__description:before
{
    background: $tan-600;
    border-color: darken($tan-600, 10%);
    border-bottom-width: 1px;
}

.color-swatch--warm-grey-100 .color-swatch__description:before
{
    background: $warm-grey-100;
    border-color: darken($warm-grey-100, 10%);
}

.color-swatch--warm-grey-200 .color-swatch__description:before
{
    background: $warm-grey-200;
    border-color: darken($warm-grey-200, 10%);
}

.color-swatch--warm-grey-300 .color-swatch__description:before
{
    background: $warm-grey-300;
    border-color: darken($warm-grey-300, 10%);
}

.color-swatch--warm-grey-400 .color-swatch__description:before
{
    background: $warm-grey-400;
    border-color: darken($warm-grey-400, 10%);
}

.color-swatch--warm-grey-500 .color-swatch__description:before
{
    background: $warm-grey-500;
    border-color: darken($warm-grey-500, 10%);
}

.color-swatch--warm-grey-600 .color-swatch__description:before
{
    background: $warm-grey-600;
    border-color: darken($warm-grey-600, 10%);
    border-bottom-width: 1px;
}

.color-swatch--red-100 .color-swatch__description:before
{
    background: $red-100;
    border-color: darken($red-100, 10%);
}

.color-swatch--red-200 .color-swatch__description:before
{
    background: $red-200;
    border-color: darken($red-200, 10%);
}

.color-swatch--red-300 .color-swatch__description:before
{
    background: $red-300;
    border-color: darken($red-300, 10%);
}

.color-swatch--red-400 .color-swatch__description:before
{
    background: $red-400;
    border-color: darken($red-400, 10%);
}

.color-swatch--red-500 .color-swatch__description:before
{
    background: $red-500;
    border-color: darken($red-500, 10%);
}

.color-swatch--red-600 .color-swatch__description:before
{
    background: $red-600;
    border-color: darken($red-600, 10%);
    border-bottom-width: 1px;
}

.color-swatch--orange-100 .color-swatch__description:before
{
    background: $orange-100;
    border-color: darken($orange-100, 10%);
}

.color-swatch--orange-200 .color-swatch__description:before
{
    background: $orange-200;
    border-color: darken($orange-200, 10%);
}

.color-swatch--orange-300 .color-swatch__description:before
{
    background: $orange-300;
    border-color: darken($orange-300, 10%);
}

.color-swatch--orange-400 .color-swatch__description:before
{
    background: $orange-400;
    border-color: darken($orange-400, 10%);
}

.color-swatch--orange-500 .color-swatch__description:before
{
    background: $orange-500;
    border-color: darken($orange-500, 10%);
}

.color-swatch--orange-600 .color-swatch__description:before
{
    background: $orange-600;
    border-color: darken($orange-600, 10%);
    border-bottom-width: 1px;
}

.color-swatch--blue-100 .color-swatch__description:before
{
    background: $blue-100;
    border-color: darken($blue-100, 10%);
}

.color-swatch--blue-200 .color-swatch__description:before
{
    background: $blue-200;
    border-color: darken($blue-200, 10%);
}

.color-swatch--blue-300 .color-swatch__description:before
{
    background: $blue-300;
    border-color: darken($blue-300, 10%);
}

.color-swatch--blue-400 .color-swatch__description:before
{
    background: $blue-400;
    border-color: darken($blue-400, 10%);
}

.color-swatch--blue-500 .color-swatch__description:before
{
    background: $blue-500;
    border-color: darken($blue-500, 10%);
}

.color-swatch--blue-600 .color-swatch__description:before
{
    background: $blue-600;
    border-color: darken($blue-600, 10%);
    border-bottom-width: 1px;
}

.color-swatch--green-100 .color-swatch__description:before
{
    background: $green-100;
    border-color: darken($green-100, 10%);
}

.color-swatch--green-200 .color-swatch__description:before
{
    background: $green-200;
    border-color: darken($green-200, 10%);
}

.color-swatch--green-300 .color-swatch__description:before
{
    background: $green-300;
    border-color: darken($green-300, 10%);
}

.color-swatch--green-400 .color-swatch__description:before
{
    background: $green-400;
    border-color: darken($green-400, 10%);
}

.color-swatch--green-500 .color-swatch__description:before
{
    background: $green-500;
    border-color: darken($green-500, 10%);
}

.color-swatch--green-600 .color-swatch__description:before
{
    background: $green-600;
    border-color: darken($green-600, 10%);
    border-bottom-width: 1px;
}

/* @end */

/* @group Accessible Color Combinations */

.accessible-color-combinations
{
    list-style: none;
    padding: 0;
}

.accessible-color
{
    padding: 8px 16px;
    border: 1px solid #000;
}

.accessible-color--gold-100
{
    color: $gold-100;
}

.accessible-color--gold-200
{
    color: $gold-200;
}

.accessible-color--gold-300
{
    color: $gold-300;
}

.accessible-color--gold-400
{
    color: $gold-400;
}

.accessible-color--gold-500
{
    color: $gold-500;
}

.accessible-color--gold-600
{
    color: $gold-600;
}

.accessible-color--white
{
    color: #fff;
}

.accessible-color--grey-100
{
    color: $grey-100;
}

.accessible-color--grey-200
{
    color: $grey-200;
}

.accessible-color--grey-300
{
    color: $grey-300;
}

.accessible-color--grey-400
{
    color: $grey-400;
}

.accessible-color--grey-500
{
    color: $grey-500;
}

.accessible-color--grey-600
{
    color: $grey-600;
}

.accessible-color--black
{
    color: #000;
}

.accessible-color--tan-100
{
    color: $tan-100;
}

.accessible-color--tan-200
{
    color: $tan-200;
}

.accessible-color--tan-300
{
    color: $tan-300;
}

.accessible-color--tan-400
{
    color: $tan-400;
}

.accessible-color--tan-500
{
    color: $tan-500;
}

.accessible-color--tan-600
{
    color: $tan-600;
}

.accessible-color--warm-grey-100
{
    color: $warm-grey-100;
}

.accessible-color--warm-grey-200
{
    color: $warm-grey-200;
}

.accessible-color--warm-grey-300
{
    color: $warm-grey-300;
}

.accessible-color--warm-grey-400
{
    color: $warm-grey-400;
}

.accessible-color--warm-grey-500
{
    color: $warm-grey-500;
}

.accessible-color--warm-grey-600
{
    color: $warm-grey-600;
}

.accessible-color--red-100
{
    color: $red-100;
}

.accessible-color--red-200
{
    color: $red-200;
}

.accessible-color--red-300
{
    color: $red-300;
}

.accessible-color--red-400
{
    color: $red-400;
}

.accessible-color--red-500
{
    color: $red-500;
}

.accessible-color--red-600
{
    color: $red-600;
}

.accessible-color--orange-100
{
    color: $orange-100;
}

.accessible-color--orange-200
{
    color: $orange-200;
}

.accessible-color--orange-300
{
    color: $orange-300;
}

.accessible-color--orange-400
{
    color: $orange-400;
}

.accessible-color--orange-500
{
    color: $orange-500;
}

.accessible-color--orange-600
{
    color: $orange-600;
}

.accessible-color--blue-100
{
    color: $blue-100;
}

.accessible-color--blue-200
{
    color: $blue-200;
}

.accessible-color--blue-300
{
    color: $blue-300;
}

.accessible-color--blue-400
{
    color: $blue-400;
}

.accessible-color--blue-500
{
    color: $blue-500;
}

.accessible-color--blue-600
{
    color: $blue-600;
}

.accessible-color--green-100
{
    color: $green-100;
}

.accessible-color--green-200
{
    color: $green-200;
}

.accessible-color--green-300
{
    color: $green-300;
}

.accessible-color--green-400
{
    color: $green-400;
}

.accessible-color--green-500
{
    color: $green-500;
}

.accessible-color--green-600
{
    color: $green-600;
}

.accessible-color-background--gold-100
{
    background: $gold-100;
    border-color: darken($gold-100, 10%);
}

.accessible-color-background--gold-200
{
    background: $gold-200;
    border-color: darken($gold-200, 10%);
}

.accessible-color-background--gold-300
{
    background: $gold-300;
    border-color: darken($gold-300, 10%);
}

.accessible-color-background--gold-400
{
    background: $gold-400;
    border-color: darken($gold-400, 10%);
}

.accessible-color-background--gold-500
{
    background: $gold-500;
    border-color: darken($gold-500, 10%);
}

.accessible-color-background--gold-600
{
    background: $gold-600;
    border-color: darken($gold-600, 10%);
}

.accessible-color-background--white
{
    background: #fff;
    border-color: darken(#fff, 10%);
}

.accessible-color-background--grey-100
{
    background: $grey-100;
    border-color: darken($grey-100, 10%);
}

.accessible-color-background--grey-200
{
    background: $grey-200;
    border-color: darken($grey-200, 10%);
}

.accessible-color-background--grey-300
{
    background: $grey-300;
    border-color: darken($grey-300, 10%);
}

.accessible-color-background--grey-400
{
    background: $grey-400;
    border-color: darken($grey-400, 10%);
}

.accessible-color-background--grey-500
{
    background: $grey-500;
    border-color: darken($grey-500, 10%);
}

.accessible-color-background--grey-600
{
    background: $grey-600;
    border-color: darken($grey-600, 10%);
}

.accessible-color-background--black
{
    background: #000;
    border-color: #000;
}

.accessible-color-background--tan-100
{
    background: $tan-100;
    border-color: darken($tan-100, 10%);
}

.accessible-color-background--tan-200
{
    background: $tan-200;
    border-color: darken($tan-200, 10%);
}

.accessible-color-background--tan-300
{
    background: $tan-300;
    border-color: darken($tan-300, 10%);
}

.accessible-color-background--tan-400
{
    background: $tan-400;
    border-color: darken($tan-400, 10%);
}

.accessible-color-background--tan-500
{
    background: $tan-500;
    border-color: darken($tan-500, 10%);
}

.accessible-color-background--tan-600
{
    background: $tan-600;
    border-color: darken($tan-600, 10%);
}

.accessible-color-background--warm-grey-100
{
    background: $warm-grey-100;
    border-color: darken($warm-grey-100, 10%);
}

.accessible-color-background--warm-grey-200
{
    background: $warm-grey-200;
    border-color: darken($warm-grey-200, 10%);
}

.accessible-color-background--warm-grey-300
{
    background: $warm-grey-300;
    border-color: darken($warm-grey-300, 10%);
}

.accessible-color-background--warm-grey-400
{
    background: $warm-grey-400;
    border-color: darken($warm-grey-400, 10%);
}

.accessible-color-background--warm-grey-500
{
    background: $warm-grey-500;
    border-color: darken($warm-grey-500, 10%);
}

.accessible-color-background--warm-grey-600
{
    background: $warm-grey-600;
    border-color: darken($warm-grey-600, 10%);
}

.accessible-color-background--red-100
{
    background: $red-100;
    border-color: darken($red-100, 10%);
}

.accessible-color-background--red-200
{
    background: $red-200;
    border-color: darken($red-200, 10%);
}

.accessible-color-background--red-300
{
    background: $red-300;
    border-color: darken($red-300, 10%);
}

.accessible-color-background--red-400
{
    background: $red-400;
    border-color: darken($red-400, 10%);
}

.accessible-color-background--red-500
{
    background: $red-500;
    border-color: darken($red-500, 10%);
}

.accessible-color-background--red-600
{
    background: $red-600;
    border-color: darken($red-600, 10%);
}

.accessible-color-background--orange-100
{
    background: $orange-100;
    border-color: darken($orange-100, 10%);
}

.accessible-color-background--orange-200
{
    background: $orange-200;
    border-color: darken($orange-200, 10%);
}

.accessible-color-background--orange-300
{
    background: $orange-300;
    border-color: darken($orange-300, 10%);
}

.accessible-color-background--orange-400
{
    background: $orange-400;
    border-color: darken($orange-400, 10%);
}

.accessible-color-background--orange-500
{
    background: $orange-500;
    border-color: darken($orange-500, 10%);
}

.accessible-color-background--orange-600
{
    background: $orange-600;
    border-color: darken($orange-600, 10%);
}

.accessible-color-background--blue-100
{
    background: $blue-100;
    border-color: darken($blue-100, 10%);
}

.accessible-color-background--blue-200
{
    background: $blue-200;
    border-color: darken($blue-200, 10%);
}

.accessible-color-background--blue-300
{
    background: $blue-300;
    border-color: darken($blue-300, 10%);
}

.accessible-color-background--blue-400
{
    background: $blue-400;
    border-color: darken($blue-400, 10%);
}

.accessible-color-background--blue-500
{
    background: $blue-500;
    border-color: darken($blue-500, 10%);
}

.accessible-color-background--blue-600
{
    background: $blue-600;
    border-color: darken($blue-600, 10%);
}

.accessible-color-background--green-100
{
    background: $green-100;
    border-color: darken($green-100, 10%);
}

.accessible-color-background--green-200
{
    background: $green-200;
    border-color: darken($green-200, 10%);
}

.accessible-color-background--green-300
{
    background: $green-300;
    border-color: darken($green-300, 10%);
}

.accessible-color-background--green-400
{
    background: $green-400;
    border-color: darken($green-400, 10%);
}

.accessible-color-background--green-500
{
    background: $green-500;
    border-color: darken($green-500, 10%);
}

.accessible-color-background--green-600
{
    background: $green-600;
    border-color: darken($green-600, 10%);
}

/* @end */


/* @group Typography */
    
.font-examples 
{
    overflow: auto;
    font-size: 13px;
    
    h3
    {
        font-family: $font-sans;
        text-transform: uppercase;
        font-size: .9em;
        color: $grey-400;
        padding-bottom: 4px;
        border-bottom: 1px solid $grey-200;
        margin: 0;
    }
    
    p {
        letter-spacing: 1px;
        font-size: 2.5em;
        margin: 0;
    }
    
    .serif      { font-family: $font-serif; } 
    .serif-sc   { font-family: $font-serif-sc; }
    .sans       { font-family: $font-sans; }
    .monospace  { font-family: $font-monospace; }
    
    .thin       { font-weight: $font-thin; }
    .light      { font-weight: $font-light; }
    .normal     { font-weight: $font-normal; }
    .medium     { font-weight: $font-medium; }
    .semibold   { font-weight: $font-semibold; }
    .bold       { font-weight: $font-bold; }
    .xbold      { font-weight: $font-xbold; }
    .black      { font-weight: $font-black; }
}    
    
/* @end */ 


/* @group Grid */
    
.grid--basic 
{
    @include grid-row();
    background-color: $grey-500;
    margin-bottom: 1.5rem;

    p 
    {
        margin: 0;
        background-color: $warm-grey-100;
        padding: 1rem;
    }
    .grid--article 
    {
        @include grid-column(
            $x: 2, 
            $y: 3
        );
    }
    .grid--aside 
    {
        @include grid-column(
            $x: 1, 
            $y: 3
        );
    }
    
    @media #{$query-small}
    {
        .grid--article,
        .grid--aside 
        {
            @include grid-column(
                $x: 1, 
                $y: 1
            );
        }
    }
}

.grid--split 
{
    @include grid-row();
    background-color: $grey-500;
    margin-bottom: 1.5rem;

    p 
    {
        margin: 0;
        background-color: $warm-grey-100;
        padding: 1rem;
    }
    .grid__column 
    {
        @include grid-column(
            $x: 1, 
            $y: 2
        );
    }   
    @media #{$query-small}
    {
        .grid__column 
        {
            @include grid-column(
                $x: 1, 
                $y: 1
            );
        }
    }
}

.grid--header__layer,
.grid--content__layer,
.grid--footer__layer 
{
    p 
    {
        margin: 0;
        padding: 1rem;
        background-color: fade-out(white, .4);
    }
}
.grid--header__wrapper,
.grid--content__wrapper,
.grid--footer__wrapper 
{
    @include grid-row();
}
.grid--header__layer 
{
    background-color: $grey-500;

    .grid--header 
    {
        @include grid-column(
            $x: 1, 
            $y: 1
        );
    }
}
.grid--content__layer {
    
    background-color: $warm-grey-100;

    .grid--article 
    {
        @include grid-column(
            $x: 4, 
            $y: 6
        );
    }
    .grid--aside 
    {
        @include grid-column(
            $x: 2, 
            $y: 6
        );
    }
    
    @media #{$query-small}
    {
        .grid--article,
        .grid--aside 
        {
            @include grid-column(
                $x: 1, 
                $y: 1
            );
        }
    }   
}
.grid--footer__layer 
{
    background-color: $grey-500;
    margin-bottom: 2rem;

    .grid--footer 
    {
        @include grid-column(
            $x: 1, 
            $y: 1
        );
    }
}

/* @end */ 
